*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-tittle{
    background-color: #E9ECEF;
    padding: 60px;
} 

.navbar{
    padding: 15px;
}

.container{
    margin-top: 20px;
}
