* {
    box-sizing: border-box;
}

main {
    padding: 30px;
    width: 800px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    margin-top: 8px;
    padding: 8px;
}

.margin{
    margin-bottom: 14px;
}

.button{
    background-color: rgb(111, 111, 155);
    border: none;
    border-radius: 8px;
    padding: 12px;
    color: aliceblue;
    display: block;
    margin: 8px auto;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
}