td, th{
    border: 1px solid #b5d3ee;
    padding: 15px;
    font-size: 18px;
}
table{
    border-collapse: collapse;
}
.not-border{
    border: none;
}
.item-align{
    text-align: left;
}
.price{
    color: white;
    font-size: 40px;
}
.color-basic{
    background-color: #7ebff2;
}
.color-standard{
    background-color: #4a87ec;
}
.color-advanced{
    background-color: #7073ec;
}
button{
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
}
.button-basic{
    background-color: #7ebff2;
}
.button-standard{
    background-color: #4a87ec;
}
.button-advanced{
    background-color: #7073ec;
}